<%- include('./components/_header.ejs') %>  
<%- include('./components/_aside.ejs') %>  
<%- include('./components/_nav.ejs') %>  

<main class="min-h-screen bg-green1 p-7 text-green5" >
    <div class="p-5">
        <a href="/data/baru" class="px-8 py-3 rounded-md hover:bg-green3 bg-green2 font-semibold">Tambah Data</a>
        <table id="data" class="stripe bg-transparent mt-5" style="width:100%;">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Kode Klasifikasi</th>
                    <th>Uraian</th>
                    <th>Tanggal Surat</th>
                    <th>Keterangan</th>
                    <th>Nomor Boks</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
    <%- include('./components/_table.ejs') %> 
            </tbody>
        </table>
    </div>
</main>
<script>
    $(document).ready(function() {
        $('#data').DataTable({
            dom: 'Bfrtip',
            columnDefs: [
                {
                    targets: -1,
                    className: 'dt-body-center'
                },
                {
                    targets: 1,
                    className: 'dt-body-center'
                },
                {
                    targets: 3,
                    className: 'dt-body-center whitespace-nowrap'
                },
                {
                    targets: 5,
                    className: 'dt-body-center'
                },
            ],
            scrollX: true,
            scrollCollapse: true,
            fixedColumns:   true,
            lengthMenu: 
            [
                [ 10, 25, 50, -1 ],
                [ '10 rows', '25 rows', '50 rows', 'Show all' ]
            ],
            buttons: [
                // 'csv',
                {
                    // extend : 'pageLength',
                    // className : 'flex'
                },
                {
                    extend : 'print',
                    text : 'Print All Tables',
                    className : 'bg-green2 rounded-md p-3 py-1 hover:bg-green4 hover:text-green1',
                    autoPrint : false
                },
                {
                    extend: 'print',
                    text: 'Print Current Table',
                    className :'bg-green2 rounded-md p-3 py-1 hover:bg-green4 hover:text-green1',
                    autoPrint : false,
                    exportOptions: {
                        modifier: {
                            page: 'current'
                        }
                    }
                }
                
            ]
        });
    } );

    function addClick () {
        console.log("sadad");
    }
</script>

<%- include('./components/_footer.ejs') %>  
