<%- include('./components/_header.ejs') %>  
<%- include('./components/_aside.ejs') %>  
<%- include('./components/_nav.ejs') %>  

<main class="min-h-screen bg-green1 p-7 text-green5" >
    <div class="p-5">
        <a href="/data/baru" class="px-8 py-3 rounded-md hover:bg-green3 bg-green2 font-semibold">Tambah Data</a>
        <table id="data" class="stripe bg-transparent mt-5" style="width:100%;">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Kode Klasifikasi</th>
                    <th>Uraian</th>
                    <th>Tanggal Surat</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
    <%- include('./components/_table.ejs') %> 
            </tbody>
        </table>
    </div>
</main>
<script>
    $(document).ready(function() {
        $('#data').DataTable({
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'print',
                text: 'Print Table',
                exportOptions: {
                    modifier: {
                        page: 'current'
                    }
                }
            }
            ]
        });
        console.log(
            $('.buttons-print').addClass('bg-green2 rounded-md p-3 py-1 hover:bg-green4 hover:text-green1')

        );
    } );
</script>

<%- include('./components/_footer.ejs') %>  
