<%- include('./components/_header.ejs') %>  
<%- include('./components/_aside.ejs') %>  
<%- include('./components/_nav.ejs') %>  

<main class="min-h-screen bg-green1 p-7 text-green5 shadow-inner" >


    <form action="" method="POST" class=" grid grid-cols-2 gap-4">
        <div class=" px-8 ">
            <label for="NoArsip" class="t_label">No Arsip *</label>
            <input type="text" id="NoArsip" name="NoArsip" class="t_input" placeholder="Nomor Arsip" required value="<%= data.NoArsip %>">
        </div>
        <div class="px-8">
            <label class="t_label" for="PenciptaArsip">Pencipta Arsip *</label>
            <input type="text" name="PenciptaArsip" id="PenciptaArsip" class="t_input" placeholder="Pencipta Arsip" required value="<%= data.PenciptaArsip %>">
        </div>
        <div class="px-8">
            <label class="t_label" for="UnitPengelolah">Unit Pengelolah *</label>
            <input type="text" name="UnitPengelolah" id="UnitPengelolah" class="t_input" placeholder="Unit Pengolah" required value="<%= data.UnitPengelolah %>">
        </div>
        <div class="px-8">
            <label class="t_label" for="Indeks">Indeks *</label>
            <input type="text" name="Indeks" id="Indeks" class="t_input" placeholder="Indeks" required value="<%= data.Indeks%>">
        </div>
        <div class="px-8">
            <label class="t_label" for="NoItemArsip">No Item Arsip *</label>
            <input type="text" name="NoItemArsip" id="NoItemArsip" class="t_input" placeholder="Nomor Item Arsip" required value="<%= data.NoItemArsip %>">
        </div>
        <div class="px-8">
            <label class="t_label" for="KodeKlasifikasi">Kode Klasifikasi *</label>
            <input type="text" name="KodeKlasifikasi" id="KodeKlasifikasi" class="t_input" placeholder="Kode Klasifikasi" required value="<%= data.KodeKlasifikasi%>">
        </div>
        <div class="px-8">
            <label class="t_label" for="TanggalSurat">Tanggal Surat *</label>
            <input type="date" name="TanggalSurat" id="TanggalSurat" class="t_input" placeholder="Tanggal Surat" required value="<%= data.TanggalSurat%>">
        </div>
        <div class="px-8">
            <label for="BokArsip" class="t_label">Keterangan *</label>
            <select class="t_input" name="Keterangan" required>
                <% 
                var options = ["Musnah","Permanen","Ditinjau Kembali"]
                for (let i = 0; i < options.length; i++) {
                        var selected = (data.Keterangan == options[i]) ? "selected" : "";
                        %><option value="<%= options[i] %>" <%= selected %>><%= options[i] %></option><%
                }
            %>
            </select>
        </div>
        <div class="px-8 col-span-2">
            <label class="t_label" for="">Uraian</label>
            <textarea type="text" name="Uraian" class="t_input" style="min-height: 25vh;" placeholder="Uraian" required><%= data.Uraian %></textarea>
        </div>
        <div class="px-8">
            <label class="t_label" for="RetensiAktif">Retensi Aktif *</label>
            <input type="text" name="RetensiAktif" id="RetensiAktif" class="t_input" placeholder="Retensi Aktif" required value="<%= data.RetensiAktif%>">
        </div>
        <div class="px-8">
            <label class="t_label" for="RetensiInaktif">Retensi Inaktif *</label>
            <input type="text" name="RetensiInaktif" id="RetensiInaktif" class="t_input" placeholder="Retensi Inaktif" required value="<%= data.RetensiInaktif%>">
        </div>
        <div class="px-8">
            <label for="BokArsip" class="t_label">Bok Arsip *</label>
            <input type="text" class="t_input" id="BokArsip" name="BokArsip"  placeholder="Bok Arsip" required value="<%= data.BokArsip%>">
        </div>
        <div class="px-8">
            <label class="t_label" for="">Nomor Boks *</label>
            <input type="text" name="Boks" class="t_input" placeholder="Nomor Boks" required value="<%= data.Boks%>">
        </div>
        <div class="px-8 col-span-2">
            <label for="KodeKlasifikasi" class="t_label">Tingkat Perkembangan *</label>
            <div class="grid grid-cols-5 gap-5">
                <div class="col-span-2">
                    <select name="Data1" class="t_input" required>
                        <% 
                            var optionsData1 = ["Asli","Tembusan","Salinan", "Fotocopy"]
                            for (let i = 0; i < optionsData1.length; i++) {
                                    var selectedData1 = (data.TingkatPerkembangan.Data1 == optionsData1[i]) ? "selected" : "";
                                    %><option value="<%= optionsData1[i] %>" <%= selectedData1 %>><%= optionsData1[i] %></option><%
                            }
                        %>
                    </select>
                </div>
                <div class="col-1">
                    <select name="Data2" class="t_input" required>
                        <% 
                            for (let i = 1; i <= 10; i++) {
                                    var selectedData2 = (data.TingkatPerkembangan.Data2 == i) ? "selected" : "";
                                    %><option value="<%= i %>" <%= selectedData2 %>><%= i %></option><%
                            }
                        %>
                    </select>
                </div>
                <div class="col-span-2">
                    <select class="t_input" name="Data3" required >
                        <% 
                            var optionsData1 = ["Berkas","Lembar","Ekspl"]
                            for (let i = 0; i < optionsData1.length; i++) {
                                    var selectedData1 = (data.TingkatPerkembangan.Data1 == optionsData1[i]) ? "selected" : "";
                                    %><option value="<%= optionsData1[i] %>" <%= selectedData1 %>><%= optionsData1[i] %></option><%
                            }
                        %>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-span-2 flex items-center justify-center mt-6 gap-9">
            <a onclick="" class="w-44 text-center py-2 rounded-md bg-green1 border-2 border-green5 hover:bg-green4 hover:text-white cursor-pointer">Pinjam Data</a>
            <input type="submit" class="w-44 py-2 rounded-md bg-green2 border-2 border-green5 hover:bg-green4 hover:text-white cursor-pointer" value="Perbarui">
        </div>
    </form>



</main>
<div>
    <form action="">
        <label for="">Nama</label>
        <input type="text" >
        <label for="">Nama</label>
        <input type="text" >
    </form>    
</div>

<%- include('./components/_footer.ejs') %>  
