<%- include('./components/_header.ejs') %>  
<%- include('./components/_aside.ejs') %>  
<%- include('./components/_nav.ejs') %> 

<main class="min-h-screen bg-green1 p-7 text-green5" >
    <div class="p-5">
        <table id="data" class="stripe bg-transparent mt-5" style="width:100%;">
            <thead>
                <tr>
                    <th>No</th>
                    <th>NIP</th>
                    <th>Nama</th>
                    <th>Tanggal Pinjam</th>
                    <th>Uraian</th>
                    <th>Tanggal Surat</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
    <%- include('./components/_tablePinjam.ejs') %> 
            </tbody>
        </table>
    </div>
</main>
<script>
    $(document).ready(function() {
        $('#data').DataTable({

        });
    } );
</script>

<%- include('./components/_footer.ejs') %>  