<%- include('./components/_header.ejs') %>  
<%- include('./components/_aside.ejs') %>  
<%- include('./components/_nav.ejs') %> 

<div class="p-5">
    <a href="/data/baru" class="btn btn-secondary mb-4">Tambah Data</a>
    <table id="myTable" class="table table" style="width:100%">
        <thead>
            <tr>
                <th>No</th>
                <th>Kode Klasifikasi</th>
                <th>Uraian</th>
                <th>Tanggal Surat</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
<%- include('./components/_table.ejs') %> 
        </tbody>
    </table>
</div>
<script>
    $('#myTable').DataTable( {
        paging : true
} );
//     $(document).ready(function() {
//     var table = $('#example').DataTable( {
//         scrollY:        200,
//     } );
 
//     table.buttons().container()
//         .appendTo( '#example_wrapper .col-md-6:eq(0)' );
// } );
</script>
<%- include('./components/_footer.ejs') %>  