<%- include('./components/_header.ejs') %>  
<%- include('./components/_aside.ejs') %>  
<%- include('./components/_nav.ejs') %> 

<!-- !Body -->
<div class="p-4 pt-1">
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-4 shadow-lg">
                <div class="card-header fs-4">Edit Inaktif  <span class="fs-6">( <%= data.NoArsip %> )</span></div>
                <div class="card-body">
                    <form action="" method="POST" class="p-4" >
                        <div class="row gx-5 gy-3 p-1 py-3 rounded border" style="background:rgba(5, 5, 5, .05)">
                            <div class=" col-md-6">
                                <label for="NoArsip" class="form-label">No Arsip *</label>
                                <input type="number" class="form-control" id="NoArsip" name="NoArsip" placeholder="Nomor Arsip" value="<%= data.NoArsip %>">
                            </div>
                            <div class=" col-md-6">
                                <label for="TanggalInput" class="form-label">Tanggal Input *</label>
                                <input type="date" class="form-control" id="TanggalInput" name="TanggalInput" value="<%= data.TanggalInput %>">
                            </div>
                            <div class="col-md-6">
                                <label for="PenciptaArsip" class="form-label">Pencipta Arsip *</label>
                                <input type="text" class="form-control" id="PenciptaArsip" name="PenciptaArsip"  placeholder="Pencipta Arsip" value="<%= data.PenciptaArsip%>">
                            </div>
                            <div class="col-md-6">
                                <label for="UnitPengelolah" class="form-label">Unit Pengelolah *</label>
                                <input type="text" class="form-control" id="UnitPengelolah" name="UnitPengelolah" placeholder="Unit Pengelolah" value="<%= data.UnitPengelolah%>">
                            </div>
                            <div class="col-md-6">
                                <label for="Indeks" class="form-label">Indeks *</label>
                                <input type="number" class="form-control" id="Indeks" name="Indeks"  placeholder="Indeks" value="<%= data.Indeks %>">
                            </div>
                            <div class="col-md-6">
                                <label for="NoItemArsip" class="form-label">No Item Arsip *</label>
                                <input type="number" class="form-control" id="NoItemArsip" name="NoItemArsip" placeholder="Nomor Item Arsip" value="<%= data.NoItemArsip%>">
                            </div>
                            <div class="col-md-6">
                                <label for="KodeKlasifikasi" class="form-label">Kode Klasifikasi *</label>
                                <input type="text" class="form-control" id="KodeKlasifikasi" name="KodeKlasifikasi"  placeholder="Kode Klasifikasi" value="<%= data.KodeKlasifikasi%>">
                            </div>
                            <div class="col-md-6">
                                <label for="TanggalSurat" class="form-label">Tanggal Surat *</label>
                                <input type="date" class="form-control" id="TanggalSurat" name="TanggalSurat" value="<%= data.TanggalSurat%>">
                            </div>
                            <div class="col-md-12">
                                <label for="Uraian" class="form-label">Uraian *</label>
                                <textarea name="Uraian" id="Uraian" class="form-control" style="min-height: 20vh;" placeholder="Uraian" ><%= data.Uraian%></textarea>
                            </div>
                            <div class="col-md-6">
                                <label for="RetensiAktif" class="form-label">Retensi Aktif *</label>
                                <input type="text" class="form-control" id="RetensiAktif" name="RetensiAktif"  placeholder="Retensi Aktif" value="<%= data.RetensiAktif%>">
                            </div>
                            <div class="col-md-6">
                                <label for="RetensiInaktif" class="form-label">Retensi Inaktif *</label>
                                <input type="text" class="form-control" id="RetensiInaktif" name="RetensiInaktif"  placeholder="Retensi Inaktif" value="<%= data.RetensiInaktif%>">
                            </div>
                            <div class="col-md-6">
                                <label for="BokArsip" class="form-label">Bok Arsip *</label>
                                <input type="text" class="form-control" id="BokArsip" name="BokArsip"  placeholder="Bok Arsip" value="<%= data.BokArsip%>">
                            </div>
                            <div class="col-md-6">
                                <label for="BokArsip" class="form-label">Keterangan *</label>
                                <select class="form-select" aria-label="" required name="Keterangan">
                                    <% 
                                        var options = ["Musnah","Permanen","Ditinjau Kembali"]
                                        for (let i = 0; i < options.length; i++) {
                                                var selected = (data.Keterangan == options[i]) ? "selected" : "";
                                                %><option value="<%= options[i] %>" <%= selected %>><%= options[i] %></option><%
                                        }
                                    %>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label for="KodeKlasifikasi" class="form-label">Tingkat Perkembangan</label>
                                <div class="row g-3 col-md-12">
                                    <div class="col-md-5">
                                        <select class="form-select" aria-label="" required name="Data1">
                                            <% 
                                                var optionsData1 = ["Asli","Lemburan","Salinan", "Fotocopy"]
                                                for (let i = 0; i < optionsData1.length; i++) {
                                                        var selectedData1 = (data.TingkatPerkembangan.Data1 == optionsData1[i]) ? "selected" : "";
                                                        %><option value="<%= optionsData1[i] %>" <%= selectedData1 %>><%= optionsData1[i] %></option><%
                                                }
                                            %>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-select" aria-label="" required name="Data2">
                                            <% 
                                                for (let i = 1; i <= 10; i++) {
                                                        var selectedData2 = (data.TingkatPerkembangan.Data2 == i) ? "selected" : "";
                                                        %><option value="<%= i %>" <%= selectedData2 %>><%= i %></option><%
                                                }
                                            %>
                                        </select>
                                    </div>
                                    <div class="col-md-5 mb-2">
                                        <select class="form-select" aria-label="" required name="Data3">
                                            <% 
                                                var optionsData1 = ["Berkas","Lembar","Ekspi"]
                                                for (let i = 0; i < optionsData1.length; i++) {
                                                        var selectedData1 = (data.TingkatPerkembangan.Data1 == optionsData1[i]) ? "selected" : "";
                                                        %><option value="<%= optionsData1[i] %>" <%= selectedData1 %>><%= optionsData1[i] %></option><%
                                                }
                                            %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex" style="justify-content: center; gap: 4rem;">
                            <a href="/pinjam/<%= data._id%>" class="mt-4 btn col-sm-12 col-md-2 base-green-1" style="color: white;">Pinjam</a>
                            <input type="submit" value="Perbarui" class="mt-4 btn btn-primary col-sm-12 col-md-2 " >
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
      

<%- include('./components/_footer.ejs') %>  
